.fromname{
color: rgb(64, 4, 121);
font-size: xx-large;
}
.radio_allbtn{
    color: rgb(207, 15, 159);
    font-size: x-large;
}
.radio_btn{
cursor: pointer;

}
.Last_info{
    color: rgb(218, 17, 218);

}