* {

    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

.gameHome {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.canvas1 {


    z-index: 0;


}

.beffor_canvas {
    position: absolute;
    top: 5;
    z-index: 1;
}
.high_score{
    position: absolute;
    top: 5%;
    bottom: 0%;
    left: 80%;
    right: 0%;
    font-size:xx-large ;
    color: rgb(34, 0, 126);
}
#high_score_data{
    color: rgb(0, 245, 184);
    font-size: 35px;

}

.lay {
    height: 40vh;
    width: 30vw;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 30px rgb(97, 4, 219);
    border-radius: 12px;
    animation: boxshadow 1s linear infinite alternate-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn {
    height: 10vh;
    width: 13vh;
    margin-bottom: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: none;
    border-radius: 12px;
    animation: boxshadow 1s linear infinite alternate-reverse;
    color: rgb(121, 4, 150);
    font-size: 2vw;





}

.cursor {
    display: inline-block;
    background-color: rgba(101, 7, 124, 0.7);
    width: 3px;
    animation: blink 2s infinite;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: rgb(69, 1, 90);
    background-color: white;
    font-size: x-large;
    margin-bottom: 25px;
    border-radius: 5px;
    animation: boxshadow 7s linear infinite alternate-reverse;

}

@keyframes boxshadow {
    25% {
        box-shadow: 0px 0px 25px rergb(97, 4, 219)d;


    }

    50% {
        box-shadow: 0px 0px 20px red;


    }

    75% {
        box-shadow: 0px 0px 15px rgb(97, 4, 219);


    }

    100% {
        box-shadow: 0px 0px 5px red;

    }
}

@keyframes blink {
    0% {
        background-color: rgba(0, 0, 0, .7);
    }

    50% {
        background-color: transparent;

    }

    100% {
        background-color: rgba(0, 0, 0, .7);
    }
}


/* @media(max-width<614px) {
    .btn {
 
    }


} */